# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Irrelevant Development Platforms
frontend_code/ios
frontend_code/linux
frontend_code/macos
frontend_code/web
frontend_code/windows

# Flutter/Dart/Pub related
frontend_code/**/doc/api/
frontend_code/**/ios/Flutter/.last_build_id
frontend_code/.dart_tool/
frontend_code/.flutter-plugins
frontend_code/.flutter-plugins-dependencies
frontend_code/.pub-cache/
frontend_code/.pub/
frontend_code/build/
frontend_code/devtools_options.yaml
frontend_code/.env

# Supabase related
backend_code/supabase/.branches
backend_code/supabase/.temp
backend_code/supabase/.env

# Symbolication related
frontend_code/app.*.symbols

# Obfuscation related
frontend_code/app.*.map.json

# Android Studio will place build artifacts here
frontend_code/android/app/debug
frontend_code/android/app/profile
frontend_code/android/app/release

